<h1>Éditer un Commentaire</h1>

<% if @comment.errors.any? %>
<div class="alert alert-danger" role="alert">
  <p>Le commentaire n’a pas pu être modifié pour la/les raison(s) suivante(s) :</p>
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container">
  <div class="row">
    <%= form_tag url_for(action: 'update'), method: "put" do %>    
      <div class="form-group col col-lg-6">
          <%= text_area_tag 'content', @comment.content, class: 'form-control mb-3' %>
          <%= submit_tag "Mettre à jour le commentaire", class: 'btn btn-sm btn-dark' %>
      <% end %>
      <%= link_to "Effacer le commentaire", gossip_comment_url(@comment.id), method: :delete, class: 'btn btn-sm btn-dark' %><br/>
      <%= link_to '← Retour', "javascript:history.back()", :class => 'btn btn-outline-dark btn-sm mt-3' %>
      </div>
  </div>
</div>
