<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>Connexion impossible :</p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <div class="row">
      <div class="form-group col col-lg-6">
        <%= link_to new_user_path, :class => "alert-link", :action => 'go' do %>
        <div class="alert alert-primary mb-4" role="alert">
          Pas de compte ? Créez en un immédiatement !
        </div>
      <% end %>
        <p class="h4 mb-4">Connexion</p>
        <%= form_tag url_for(action: 'create'), method: "post" do %>    
          <%= text_field_tag 'email', nil, placeholder: 'foo@email.xyz', class: 'form-control mb-3' %>
          <%= password_field_tag 'password', @user.password, class: 'form-control mb-3' %>
          <%= submit_tag "Connexion", class: 'btn btn-sm btn-dark' %>
      </div>
    <% end %>
  </div>
</div>
