<h1>À propos de <%= @user.first_name %> <%= @user.last_name %></h1>
  <div class="container">
    <div class="row">
          <div class="col col-lg-6 mt-3">
            <blockquote class="blockquote">
              <%= @user.description %>
            </blockquote>
            <dl class="row">
              <dt class="col-sm-3">Age</dt>
              <dd class="col-sm-9"><%= @user.age %></dd>
              <dt class="col-sm-3">Localisation</dt>
              <dd class="col-sm-9"><%= link_to "#{@user.city.name} (#{@user.city.zip_code})", "/city/#{@user.city.id}" %></dd>
              <dt class="col-sm-3">Email</dt>
              <dd class="col-sm-9"><%= mail_to @user.email, @user.email %></dd>
            </dl>
          </div>
      </div>
    </div>
    </div>

    
  <%= link_to '← Retour', "javascript:history.back()", :class => 'btn btn-outline-dark btn-sm' %>

